<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHpcaoL43w-v_t-9rRB5FqQVObB0-aHSw</string>
	<key>GCM_SENDER_ID</key>
	<string>723775672508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthapp</string>
	<key>PROJECT_ID</key>
	<string>health-1ac01</string>
	<key>STORAGE_BUCKET</key>
	<string>health-1ac01.firebaseapp.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723775672508:web:90dbd501a69f49647280b9</string>
</dict>
</plist>